<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('layouts/header') -%>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Navbar Start -->
        <%- include('layouts/navbar') -%>
        <!-- Navbar End -->


        <!-- Carousel Start -->
        <div class="container-fluid p-0">
            <div class="owl-carousel header-carousel position-relative">
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/carousel-1.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Perfect Job That You Deserved</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Explore limitless opportunities with our job search platform, connecting you to your dream career. Your journey to success begins here.</p>
                                    <% if (loggedIn) { %>
                                        <form action= <%="/job-list" %> method ="GET" >
                                            <button href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</button>
                                            <button href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</button>
                                        </form>
                                    <% } else { %>
                                        <form action= <%="/loginform" %> method ="GET" >
                                            <button href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</button>
                                            <button href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</button>
                                        </form>
                                    <% } %>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="owl-carousel-item position-relative">
                    <img class="img-fluid" src="img/carousel-2.jpg" alt="">
                    <div class="position-absolute top-0 start-0 w-100 h-100 d-flex align-items-center" style="background: rgba(43, 57, 64, .5);">
                        <div class="container">
                            <div class="row justify-content-start">
                                <div class="col-10 col-lg-8">
                                    <h1 class="display-3 text-white animated slideInDown mb-4">Find The Best Startup Job That Fit You</h1>
                                    <p class="fs-5 fw-medium text-white mb-4 pb-2">Embark on your post-graduate journey with our job portal, unlocking tailored opportunities to launch your career successfully. Start exploring now</p>
                                    <% if (loggedIn) { %>
                                        <form action= <%="/job-list" %> method ="GET" >
                                            <button href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</button>
                                            <button href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</button>
                                        </form>
                                    <% } else { %>
                                        <form action= <%="/loginform" %> method ="GET" >
                                            <button href="" class="btn btn-secondary py-md-3 px-md-5 animated slideInRight">Find A Talent</button>
                                            <button href="" class="btn btn-primary py-md-3 px-md-5 me-3 animated slideInLeft">Search A Job</button>
                                        </form>
                                    <% } %>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Carousel End -->


        <!-- Search Start 
        <div class="container-fluid bg-primary mb-5 wow fadeIn" data-wow-delay="0.1s" style="padding: 35px;">
            <div class="container">
                <div class="row g-2">
                    <div class="col-md-10">
                        <div class="row g-2">
                            <div class="col-md-4">
                                <input type="text" class="form-control border-0" placeholder="Keyword" />
                            </div>
                            <div class="col-md-4">
                                <select class="form-select border-0">
                                    <option selected>Select Category</option>
                                    <% for (var i = 0; i < jobListWithDept.length; i++) { %>
                                        <option value="<%= i %>"><%= jobListWithDept[i]._id %></option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="col-md-4">
                            <select class="form-select border-0">
                                <option selected>Select Location</option>
                                <% if (displayjobs && Array.isArray(displayjobs)) { %>
                                    <% var uniqueLocations = [...new Set(displayjobs.map(job => job.company_location))] %>
                                    <% for (var i = 0; i < uniqueLocations.length; i++) { %>
                                        <option value="<%= uniqueLocations[i] %>"><%= uniqueLocations[i] %></option>
                                    <% } %>
                                <% } %>
                            </select>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-dark border-0 w-100">Search</button>
                    </div>
                </div>
            </div>
        </div>
         Search End -->


    <!-- Category Start -->
    <div class="container-xxl py-5">
        <div class="container">
            <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Explore By Category</h1>
            <div class="row g-4">
                <!-- All Jobs Option -->
                <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                    <a class="cat-item rounded p-4 selected" href="#" data-value="<%= displayjobs.length %>">
                        <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                        <h6 class="mb-3">All Jobs</h6>
                        <p class="mb-0"><%= displayjobs.length %> Vacancies available</p>
                    </a>
                </div>
            
            
                <!-- Job Categories -->
                <% for (var i = 0; i < jobListWithDept.length; i++) { %>
                    <div class="col-lg-3 col-sm-6 wow fadeInUp" data-wow-delay="0.1s">
                        <a class="cat-item rounded p-4" href="#" data-value="<%= jobListWithDept[i]._id %>">
                            <i class="fa fa-3x fa-mail-bulk text-primary mb-4"></i>
                            <h6 class="mb-3"><%= jobListWithDept[i]._id %></h6>
                            <p class="mb-0"><%= jobListWithDept[i].count %> Vacancies available</p>
                        </a>
                    </div>
                <% } %>
                
                
            </div>
            
        </div>
    </div>
        <!-- Category End -->


        <!-- About Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-5 align-items-center">
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.1s">
                        <div class="row g-0 about-bg rounded overflow-hidden">
                            <div class="col-6 text-start">
                                <img class="img-fluid w-100" src="img/about-1.jpg">
                            </div>
                            <div class="col-6 text-start">
                                <img class="img-fluid" src="img/about-2.jpg" style="width: 85%; margin-top: 15%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid" src="img/about-3.jpg" style="width: 85%;">
                            </div>
                            <div class="col-6 text-end">
                                <img class="img-fluid w-100" src="img/about-4.jpg">
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 wow fadeIn" data-wow-delay="0.5s">
                        <h1 class="mb-4">We Help To Get The Best Job And Find A Talent</h1>
                        <p class="mb-4">We specialize in connecting exceptional talent with the best job opportunities. Our platform is designed to facilitate seamless recruitment, ensuring both employers and job seekers find their perfect match effortlessly.</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Customized Job Searches</p>
                        <p><i class="fa fa-check text-primary me-3"></i>Efficient Talent Matching</p>
                        <p><i class="fa fa-check text-primary me-3"></i>User-Friendly Interface</p>
                        <a class="btn btn-primary py-3 px-5 mt-3" href="">Read More</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- About End -->


        <!-- Jobs Start -->
        <div class="container-xxl py-5">
            <div class="container">
                <h1 class="text-center mb-5 wow fadeInUp" data-wow-delay="0.1s">Job Listing</h1>
                <div class="tab-class text-center wow fadeInUp" data-wow-delay="0.3s">
                    <ul class="nav nav-pills d-inline-flex justify-content-center border-bottom mb-5">
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 ms-0 pb-3 active" data-bs-toggle="pill" href="#tab-1">
                                <h6 class="mt-n1 mb-0">Featured</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 pb-3" data-bs-toggle="pill" href="#tab-2">
                                <h6 class="mt-n1 mb-0">Full Time</h6>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="d-flex align-items-center text-start mx-3 me-0 pb-3" data-bs-toggle="pill" href="#tab-3">
                                <h6 class="mt-n1 mb-0">Part Time</h6>
                            </a>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div id="tab-1" class="tab-pane fade show p-0 active">
                            <% for (var i = 0; i < displayjobs.length; i++) { %>
                                <div class="job-item p-4 mb-4">
                                    <div class="row g-4">
                                        <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                            <img class="flex-shrink-0 img-fluid border rounded" src = <%= displayjobs[i].logo %> alt="" style="width: 80px; height: 80px;">
                                            <div class="text-start ps-4">
                                                <h5 class="mb-3"><%= displayjobs[i].job_title %></h5>
                                                <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= displayjobs[i].company_location %></span>
                                                <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= displayjobs[i].employment_type %></span>
                                                <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>£<%= displayjobs[i].salary %></span>
                                            </div>
                                        </div>
                                        <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                            <div class="d-flex mb-3">
                                                <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>

                                                <!-- <form action= <%="/job-list/"+ displayjobs
                                                    [i]._id %> method ="GET" > -->
                                                <% if (loggedIn) { %>
                                                    <form action= <%="/" %> method ="GET" >
                                                        <button type="submit" class="green-button">Apply</button>
                                                    </form>
                                                <% } else { %>
                                                    <form action= <%="/loginform" %> method ="GET" >
                                                        <button type="submit" class="green-button">Apply</button>
                                                    </form>
                                                <% } %>

                                            </div>
                                            
                                            <small class="text-truncate">
                                                <i class="far fa-calendar-alt text-primary me-2"></i>
                                                Deadline by: <%= (displayjobs[i].deadline) %>
                                            </small>
                                        </div>
                                    </div>
                                </div>
                            <% } %>
                        </div>
                    
                        <div id="tab-2" class="tab-pane fade show p-0">
                            <% for (var i = 0; i < displayjobs.length; i++) { %>
                                <% if (displayjobs[i].employment_type === "Full-Time") { %>
                                    <div class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid border rounded" src = <%= displayjobs[i].logo %> alt="" style="width: 80px; height: 80px;">
                                                <div class="text-start ps-4">
                                                    <h5 class="mb-3"><%= displayjobs[i].job_title %></h5>
                                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= displayjobs[i].company_location %></span>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= displayjobs[i].employment_type %></span>
                                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>£<%= displayjobs[i].salary %></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-3">
                                                    <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>

                                                    <form action= <%="/updateJobForm/"+ displayjobs[i]._id %> method ="GET" >
                                                        <button type="submit" class="green-button">Apply</button>
                                                    </form>

                                                </div>
                                                
                                                <small class="text-truncate">
                                                    <i class="far fa-calendar-alt text-primary me-2"></i>
                                                    Deadline by: <%= (displayjobs[i].deadline) %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    
                        <div id="tab-3" class="tab-pane fade show p-0">
                            <% for (var i = 0; i < displayjobs.length; i++) { %>
                                <% if (displayjobs[i].employment_type === "Part-Time") { %>
                                    <div class="job-item p-4 mb-4">
                                        <div class="row g-4">
                                            <div class="col-sm-12 col-md-8 d-flex align-items-center">
                                                <img class="flex-shrink-0 img-fluid border rounded" src = <%= displayjobs[i].logo %> alt="" style="width: 80px; height: 80px;">
                                                <div class="text-start ps-4">
                                                    <h5 class="mb-3"><%= displayjobs[i].job_title %></h5>
                                                    <span class="text-truncate me-3"><i class="fa fa-map-marker-alt text-primary me-2"></i><%= displayjobs[i].company_location %></span>
                                                    <span class="text-truncate me-3"><i class="far fa-clock text-primary me-2"></i><%= displayjobs[i].employment_type %></span>
                                                    <span class="text-truncate me-0"><i class="far fa-money-bill-alt text-primary me-2"></i>£<%= displayjobs[i].salary %></span>
                                                </div>
                                            </div>
                                            <div class="col-sm-12 col-md-4 d-flex flex-column align-items-start align-items-md-end justify-content-center">
                                                <div class="d-flex mb-3">
                                                    <a class="btn btn-light btn-square me-3" href=""><i class="far fa-heart text-primary"></i></a>

                                                    <form action= <%="/updateJobForm/"+ displayjobs[i]._id %> method ="GET" >
                                                        <button type="submit" class="green-button">Apply</button>
                                                    </form>
                                                </div>
                                                
                                                <small class="text-truncate">
                                                    <i class="far fa-calendar-alt text-primary me-2"></i>
                                                    Deadline by: <%= (displayjobs[i].deadline) %>
                                                </small>
                                            </div>
                                        </div>
                                    </div>
                                <% } %>
                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Jobs End -->


        <!-- Testimonial Start -->
        <div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
            <div class="container">
                <h1 class="text-center mb-5">Our Testimonial</h1>
                <div class="owl-carousel testimonial-carousel">
                    <% for (var i = 0; i < testimoniallist.length; i++) { %>
                        <div class="testimonial-item bg-light rounded p-4">
                            <i class="fa fa-quote-left fa-2x text-primary mb-3"></i>
                            <p><%= testimoniallist[i].Message %></p>
                            <div class="d-flex align-items-center">
                                <img class="img-fluid flex-shrink-0 rounded"
                                src="<%= testimoniallist[i].image %>"
                                    style="width: 50px; height: 50px;">
                                <div class="ps-3">
                                    <h5 class="mb-1"><%= testimoniallist[i].name %> <%= testimoniallist[i].surname %></h5>
                                    <small><%= testimoniallist[i].proffession %></small>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>
        </div>
        <!-- Testimonial End -->
        

        <!-- Footer Start -->
        <%- include('layouts/footer') -%>
        <!-- Footer End -->


        <!-- Back to Top -->
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"></i></a>
    </div>

    <!-- JavaScript Libraries -->
    <%- include('layouts/script') -%>

</body>

</html>