<!DOCTYPE html>
<html lang="en">

    <head>
        <%- include('layouts/header') -%>
    </head>

    <body>
        <div class="container-xxl bg-white p-0">
            <!-- Spinner Start -->
            <div id="spinner"
                class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
                <div class="spinner-border text-primary"
                    style="width: 3rem; height: 3rem;" role="status">
                    <span class="sr-only">Loading...</span>
                </div>
            </div>
            <!-- Spinner End -->

            <!-- Navbar Start -->
            <%- include('layouts/navbar'); -%>
            <!-- Navbar End -->

            <!-- Header End -->
            <div class="container-xxl py-5 bg-dark page-header mb-5">
                <div class="container my-5 pt-5 pb-4">
                    <h1 class="display-3 text-white mb-3 animated slideInDown">Update Form</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb text-uppercase">
                            <li class="breadcrumb-item"><a href="#">Home</a></li>
                            <li class="breadcrumb-item"><a href="#">Pages</a></li>
                            <li class="breadcrumb-item text-white active"
                                aria-current="page">Update</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!-- Header End -->

            <!-- Contact Start -->
            <div class="container-xxl py-5">
                <div class="container">
                    <h1 class="text-center mb-5 wow fadeInUp"
                        data-wow-delay="0.1s">Update vacancy Form</h1>
                    <div class="row g-4">
                        <div class="col-12">
                            <div class="row gy-4">
                                <div class="col-md-4 wow fadeIn"
                                    data-wow-delay="0.3s">
                                </div>
                                <div class="col-md-4 wow fadeIn">
                                </div>
                            </div>
                        </div>

                        <div class="wow fadeInUp" data-wow-delay="0.5s">
                            <p class="mb-4">The contact form is currently
                                inactive. Get a functional and working
                                contact form with Ajax & PHP in a few
                                minutes. Just copy and paste the files, add
                                a little code and you're done. <a
                                    href="https://htmlcodex.com/contact-form">Download
                                    Now</a>.</p>
                            <form action="/updatejob" method ="POST" enctype="multipart/form-data">
                                <input type="hidden" id = "_id" name="_id" value = <%=JobList._id %> />
                                <div class="row g-3">
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text"
                                                class="form-control"
                                                id="job_title"
                                                name="job_title"
                                                value = "<%=JobList.job_title %>" />
                                            <label for="job_title">Job Title</label>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text"
                                                class="form-control"
                                                id="employment_type"
                                                name="employment_type"
                                                value = "<%=JobList.employment_type %>" />
                                            <label for="employment_type">Employment Type</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="text"
                                                class="form-control"
                                                id="salary_curency"
                                                name="salary_curency"
                                                value = "<%=JobList.salary_curency %>" />
                                            <label for="salary_curency">Salary Curency</label>
                                        </div>
                                    </div>

                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="number"
                                                class="form-control"
                                                id ="Salary"
                                                name ="Salary"
                                                value = "<%=JobList.Salary %>" />
                                            <label for="Salary">Salary</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text"
                                                class="form-control"
                                                id="Employee_residence"
                                                name="Employee_residence"
                                                value = "<%=JobList.Employee_residence %>" />
                                            <label for="Employee_residence">Employee Residence</label>
                                        </div>
                                    </div>


                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text"
                                            class="form-control"
                                            id="experience_level"
                                            name="experience_level"
                                            value = "<%=JobList.experience_level %>" />
                                        <label for="experience_level">Experience level</label>
                                        </div>
                                    </div>

                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text"
                                                class="form-control"
                                                id="company_location"
                                                name="company_location"
                                                value = "<%=JobList.ecompany_location %>" />
                                            <label for="company_location">Company Location</label>
                                        </div>
                                    </div>
                                    

                                    <div class="col-12">
                                        <div class="form-floating">
                                            <input type="text"
                                            class="form-control"
                                            id="company_size"
                                            name="company_size"
                                            value = <%=JobList.ecompany_size %> />
                                        <label for="company_size">Company size</label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-floating">
                                            <input type="file"
                                                class="form-control"
                                                id="logo"
                                                name="logo"
                                                placeholder="logo"> />
                                            <label for="logo">Upload logo</label>
                                        </div>
                                    </div>

                                    <div class="col-6">
                                        <div class="form-floating">
                                            <img src=<%=JobList.logo %> />
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <div class="form-floating">
                                            <input type="TEXT"
                                                class="form-control"
                                                id="deadline"
                                                name="deadline"
                                                placeholder="Deadline">
                                            <label for="deadline">Deadline</label>
                                        </div>
                                    </div>
                                    
                                    <div class="col-12">
                                        <button
                                            class="btn btn-primary w-100 py-3"
                                            type="submit">Update </button>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            <!-- Contact End -->

            <!-- Footer Start -->
            <%- include('layouts/footer'); -%>
            <!-- Footer End -->

            <!-- Back to Top -->
            <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i
                    class="bi bi-arrow-up"></i></a>
        </div>

        <!-- JavaScript Libraries -->
        <%- include('layouts/script') -%>

    </html>